# Application
PORT=4003
NODE_ENV=development

# Database
POSTGRES_DB=do-fuels
POSTGRES_USER=fuels
POSTGRES_PASSWORD=sdjkh45234EFRgre23daesgdfhdt
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_LOGGING=true